services:
  db:
    image: danii04/mi_cine_auto:v1
    container_name: contenedorMiCineAuto
    ports:
      - "3306:3306"

  php:
    image: danii04/mi_app_cine_auto:v1
    container_name: contenedorMiAppAuto
    ports:
      - "8080:80"
    depends_on:
      - db

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: contenedorPhpMyAdminAuto
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: contrasenyaRoot
    ports:
      - "8081:80"
    depends_on:
      - db
